@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Tinos&family=Urbanist:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body {
    @apply
        bg-slate-100 dark:bg-gray-950
        text-gray-950 dark:text-slate-50
        font-sans
}

.nav-dot.selected{
    @apply
        bg-blue-700
}
.nav-dot:hover span{
    @apply
        opacity-100
}

.nav-link.selected{
    @apply
        border-b-2
        border-dotted
}

.mobile-nav-link.selected{
    @apply
    bg-slate-300
    dark:bg-gray-800
}

.nav-dot.selected {
    @apply
        bg-red-500
}

.work:hover > div {
    transform: translateY(0);
}
.work:hover > img {
    transform: scale(1.2)
}

.swiper-pagination{
    @apply
        !relative
        mt-6
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    @apply
        bg-slate-950
        dark:bg-slate-50
}
