@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body {
    @apply
        bg-slate-100 dark:bg-gray-950
        text-gray-950 dark:text-main-light
}

.preloader{
    animation: preloader 1.5s infinite linear;
}

@keyframes preloader{
    0%{
        transform: scale(.7);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.7);
    }
}

.nav-dot.selected{
    @apply
        bg-blue-700
}
.nav-dot:hover span{
    @apply
        opacity-100
}

.nav-link.selected{
    @apply
        border-b-2
        border-dotted
}

.mobile-nav-link.selected{
    @apply
    bg-slate-300
    dark:bg-gray-800
}

.nav-dot.selected {
    @apply
        bg-red-500
}

.work:hover > div {
    transform: translateY(0);
}
.work:hover > img {
    transform: scale(1.2)
}

.swiper-pagination{
    @apply
        !relative
        mt-6
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    @apply
        bg-slate-950
        dark:bg-slate-50
}